:root {
    --logo-dark-blue: #006b8c;
    --logo-light-blue: #d2e4ed;
    --text-white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/*nav section*/

.header-wrapper {
    background-size: cover;
    background-image: url("./webpage images/homepage-image-compressed.jpg");
    min-width: 75rem;
}

.nav-bar-logo {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 0rem 3rem 0rem 3rem;
}

.logo-wrapper > img {
    width: 15rem;
    margin-left: 3rem;
    background-color: #ffffff99;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}

nav {
    display: flex;
    margin-left: 5rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight:900;
    padding: 1.5rem  0rem 1.5rem 0rem; 
}
.nav-option {
    opacity: 65%;
    margin-right: 5rem;
    white-space: nowrap;
}

.nav-option > a {
    text-decoration: none;
    color: #000000
}

.nav-option > a:hover {
    color: var(--logo-dark-blue);
    transition: ease-in-out 200ms;
    cursor: pointer;
}

#cta-button {
    text-align: center;
    background-color: var(--logo-dark-blue);
    color: var(--text-white);
    padding: 0.8rem 2rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    border: solid 1px var(--logo-dark-blue);
    border-radius: 1rem;
    transition: ease-in-out 200ms;
    text-decoration: none;
    white-space: nowrap;

}

#cta-button:hover, #contact-button:hover {
    color: var(--logo-dark-blue);
    background-color: var(--logo-light-blue);
    border: solid 1px var(--logo-dark-blue);
    cursor: pointer;
}

/* main section */

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: var(--logo-dark-blue);
    text-align: center;
    letter-spacing: 0.3rem;
    word-spacing: 1.5rem;
}

.text_paragraph {
    opacity: 65%;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1.5rem;
    text-align: justify;
}

.text-title {
    color: var(--logo-dark-blue);
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem;
    text-align: center;
}

.information-wrapper {
    margin-right: 5rem;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin: 4rem;
}

.carousel-contents-container {
    overflow: hidden;
    width: 40rem;
    height: 30rem;
}

.carousel-contents {
    position: relative;
    width: 40rem;
    height: 30rem;
    transition: ease-in-out 500ms;
}

.carousel-slide {
    position: absolute;
    width: inherit;
    height: inherit;
    list-style: none;
    transition: ease-in-out 500ms;
}

.carousel-slide > img {
    width: inherit;
    height: inherit;
    border-radius: 1rem;
    object-fit: cover;
}

.carousel-button {
    position: relative;
    border: none;
    background-color: var(--logo-dark-blue);
    color: var(--text-white);
    width: 2rem;
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    z-index: 1;
    cursor: pointer;
    transition: ease-in-out 300ms;
    top: 18rem;
}

.carousel-button:hover {
    border: 1px solid var(--logo-dark-blue);
    background-color: var(--logo-light-blue);
    color: var(--logo-dark-blue);
}
#right-button {
    left: 35.75rem;
}

#left-button {
    opacity: 0;
}

.dot-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2rem;
}

.carousel-dot {
    width: 0.5rem;
    aspect-ratio: 1;
    background-color: var(--logo-light-blue);
    border: 1px solid var(--logo-dark-blue);
    border-radius: 50%;
    margin-left: 1rem;
}

.current-dot {
    background-color: var(--logo-dark-blue)
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social-media-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12.5rem;
}    

#social-media-logos > a > img{
    width: 1.5rem;
    margin: 1rem;
}